.my-img {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-left: 50px;
    transition: box-shadow 0.6s ease-in-out, transform 0.3s ease-in-out;
    filter: grayscale(95%) opacity(75%);
    
}


.my-img:hover {

    margin-right: 10px;
    box-shadow: 0 0 15px 5px rgba(13, 110, 253, 0.9);
    transform: translateX(-5px);
    height: 350px;
    width: 350px;
    border-radius: 50%;
    margin-left: 50px;
    filter: grayscale(0%);
    transform: scale(1.1);
}

/* Apply large side margins (20rem) only on desktop and wider */
/* .main-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
} */

/* Apply large margins only on big screens */
/* @media (min-width: 1200px) {
    .main-wrapper {
        margin-left: 5rem;
        margin-right: 5rem;
    }
} */

body {
    font-family: 'Courier New';
    padding-left: 2rem;
    /* margin-right: 10rem; */
    /* overflow-x: hidden; */
}

h1:hover {
    transform: scale(1.06);
    transition: transform 0.3s ease-in-out;
}


.custom-hr {
    width: 45%;
    margin: 0 auto;
    /* This centers the <hr> */
    border: 1px solid #000;
    /* Or any color you prefer */

}

.card-text-hover {
    position: absolute;
    transform: translateY(-100%);
    transition: all 0.5s ease-in;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: white;
    opacity: 0;
    visibility: hidden;

}


.card {
    transition: all 0.5s ease-in-out;
    
    background-size: cover;
    background-position: center;
}
.card1 {
    width: 300px;
    
    
    
}

.card:hover {
    box-shadow: 0 0 15px 3px rgba(13, 110, 253, 0.5);
    transform: scale(1.05);
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url('static/uploads/{{i.img}}');
}

small {
    text-align: right;
    margin-top: 140px;
    margin-right: 4px;
    color: white;
}



.card:hover .card-text-hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.card {
    width: 300px;
    height: 300px;
    margin-left: 3rem;
    padding-right: 3rem;
}

.skills-div-right-side,.skills-div-left-side{
    padding-left: 4rem;
}

