body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3rem;

}

@media (max-width: 991.98px) {
.container{
    width: 500px;
}
}

.btnn{
    border: none;
    text-decoration: none;
    
}

/* Intro */
.my-img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;     
    margin-top: 50px;
    filter: grayscale(95%) opacity(75%);
    transition: box-shadow 0.4s ease-out, transform 0.3s ease-in-out;
    
}
/* Default hover effect (for desktops/larger screens) */
.my-img:hover {
    box-shadow: 0 0 15px 10px rgba(13, 110, 253, 0.9);
    transform: translateX(-5px) scale(1.1);
    width: 360px;
    height: 360px;
    border-radius: 50%;
    margin-top: 50px;
    
    filter: grayscale(0%);
}

/* Mobile / Tablet screens (below 992px) */
@media (max-width: 991.98px) {
    .my-img {
        width: 360px;
        height: 360px;
        border-radius: 50%;
        margin-top: 50px;
        filter: grayscale(95%) opacity(75%);
        transition: box-shadow 0.6s ease-in-out, transform 0.3s ease-in-out;
    }
    
    .my-img:hover {
        box-shadow: 0 0 15px 5px rgba(13, 110, 253, 0.9);
        transform: translateX(-5px) scale(1.1);
        width: 360px;
        height: 360px;
        border-radius: 50%;
        margin-top: 50px;
        
        filter: grayscale(0%);
    }
}

/* End Intro */

/* Project */
.card-text-hover {
    position: absolute;
    transform: translateY(-100%);
    transition: all 0.5s ease-in;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    color: white;
    opacity: 0;
    visibility: hidden;
}
.card {
    transition: all 0.5s ease-in-out;
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 750px;
    margin-left: 4rem;
}
.card:hover {
    box-shadow: 0 0 15px 3px rgba(13, 110, 253, 0.5);
    transform: scale(1.05);
    background: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0)), url('static/uploads/{{i.img}}');
}

.card:hover .card-text-hover {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

small {
    text-align: right;
    margin-top: 140px;
    color: white;
}

/* .skills-div-right-side, .skills-div-left-side {
    padding-left: 4rem;
    } */
    
/* End Project */
    
/* About */
    
.card1 {
    width: 950px;
    padding-left: 100px;
    padding-top: 45px;
    padding-bottom: 45px;
    
    padding-right: 100px;
    
}
    
    
    @media (max-width: 991.98px) {
        
        .card1 {
            padding-left: 10px;
            padding-top: 45px;
            padding-bottom: 45px;
            padding-right: 10px;
            width: 450px;
            
        }
    }
    /* End About */
    
    
    /* Connect */
    .card-connect {
        width: 1100px;
    }
    @media (max-width: 991.98px) {
        
        .card-connect {
            font-size: x-large;
            padding-left: 10px;
            padding-top: 45px;
            padding-bottom: 45px;
            padding-right: 10px;
            width: 500px;
            
        }
    }
.card2 {
    max-width: 1000px;
    width: 100%;
    
    padding: 2rem;
    border-radius: 10px;
}

/* End Connect */
