<main>
  <!-- ABOUT SECTION -->
  <section class="container col-xl-8">
    <div class="row py-lg-5">
      <div
        class="container col-xl-8 mt-5"
        style="
          border-left: 2px black solid;
          margin: 1rem;
          height: 150px;
          padding-left: 30px;
        "
      >
        <h3
          class="display-5 fw-bolder text-body-emphasis lh-1 mb-3"
          style="font-family: 'Cambria'"
        >
          ABOUT
        </h3>
        <p class="lead text-body-secondary">A Glimpse Into My Journey</p>
      </div>
    </div>
  </section>

  <!-- CARD CENTERED AND WIDER -->
  <div class="album">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-10">
          <div
            class="card1 bg-light p-lg-4 shadow-lg w-100"
            style="width: 100%; max-width: 1000px"
          >
            <div class="card-body d-flex flex-column justify-content-end">
              <h3>
                <u><span style="font-family: fantasy">About</span></u>
              </h3>
              <p>
                I’m
                <span style="font-family: fantasy"><u>Maaz Siddiqui</u></span
                >, a
                <span style="font-family: fantasy"
                  ><em>Computer Engineering student</em></span
                >
                with a span foundation in
                <span style="font-family: fantasy"
                  >programming, problem-solving</span
                >, and modern technologies. I value the principles of
                <span style="font-family: fantasy">clean code</span>, structured
                development, and continuous learning. My work blends
                <u>traditional engineering discipline</u> with
                <span style="font-family: fantasy">innovative thinking</span>,
                focusing on <u>practical solutions</u> and
                <u>real-world applications</u>.
              </p>

              <p>
                From developing
                <span style="font-family: fantasy"
                  >full-stack web applications</span
                >
                to exploring <span style="font-family: fantasy">AI</span> and
                <span style="font-family: fantasy">automation</span>, I aim to
                build systems that are efficient, scalable, and user-friendly.
                I’ve worked on various
                <span style="font-family: fantasy">academic</span> and
                <span style="font-family: fantasy">personal projects</span>,
                demonstrating my ability to apply core concepts across languages
                like <span style="font-family: fantasy">Python</span>,
                <span style="font-family: fantasy">C++</span>, and
                <span style="font-family: fantasy">Java</span>, as well as tools
                like
                <span style="font-family: fantasy"
                  >Flask, Selenium, and Figma</span
                >.
              </p>

              <p>
                Driven by <u>curiosity</u> and guided by
                <span style="font-family: fantasy">discipline</span>, I’m
                constantly refining my skills to stay prepared for the demands
                of the evolving tech landscape. Whether it's
                <span style="font-family: fantasy"
                  ><u>writing backend logic, designing intuitive UIs,</u></span
                >
                or <u><i>optimizing code performance</i></u> —
                <span style="font-family: fantasy"
                  ><u
                    ><i
                      >I strive to deliver work that is thoughtful,
                      well-structured, and impactful</i
                    ></u
                  ></span
                >.
              </p>

              <h3>
                <u><span style="font-family: fantasy">Education</span></u>
              </h3>
              <ul>
                <li type="none">
                  <p class="col-12 col-lg-12 col-xl-8">
                    <span style="font-family: fantasy"
                      >→ Diploma in Computer Engineering (Post SSC)</span
                    ><br />
                    <em>M.H. Saboo Siddik Polytechnic, Mumbai</em><br />
                    <span>Sept 2023 – Sept 2026</span>
                  </p>
                  <ul>
                    <li>
                      <span style="font-family: fantasy"
                        ><u>Results Summary</u></span
                      >
                      <ul>
                        <li>
                          <span style="font-family: fantasy">FY:</span> 82.6%
                        </li>
                        <li>
                          <span style="font-family: fantasy">SY:</span> 83%
                        </li>
                        <li><span style="font-family: fantasy">TY:</span> -</li>
                      </ul>
                    </li>
                  </ul>
                  <p class="col-12 col-lg-12 col-xl-8">
                    <span style="font-family: fantasy"
                      >→ Secondary School Certificate (SSC)</span
                    ><br />
                    <em>St. Stanislaus High School, Bandra</em><br />
                    <span>Apr 2013 – Apr 2023</span><br />
                    <span style="font-family: fantasy">Grades:</span> 83%
                  </p>
                </li>
              </ul>

              <h3>
                <u
                  ><span style="font-family: fantasy"
                    >Certifications &amp; Achievements</span
                  ></u
                >
              </h3>
              <ul type="none">
                <li>
                  <span
                    style="
                      border-left: rgb(150, 148, 148) 2px solid;
                      padding-left: 5px;
                      font-size: large;
                    "
                  >
                    100 Day of Python (Udemy) </span
                  ><br />
                </li>
                <li>
                  <span
                    style="
                      border-left: rgb(150, 148, 148) 2px solid;
                      padding-left: 5px;
                      font-size: large;
                    "
                  >
                    Fundamentals of Python Programming (Infosys) </span
                  ><br />
                </li>
                <li>
                  <span
                    style="
                      border-left: rgb(150, 148, 148) 2px solid;
                      padding-left: 5px;
                      font-size: large;
                    "
                  >
                    Java Concepts (Infosys) </span
                  ><br />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
