<main>
  <section class="container col-xl-8 ">
    <div class="row py-lg-5">
      <div class="container col-xl-8  mt-5">
        <h3 class="display-5 fw-bolder text-body-emphasis lh-1 mb-3" style="font-family: 'Cambria'">
          ABOUT
        </h3>
        <p class="lead text-body-secondary">A Glimpse Into My Journey</p>
      </div>
    </div>
  </section>

  <div class="album py-5 ">
    <div class="container">
      <div class="row row-cols- row-cols-sm-12 row-cols-lg-7 row-cols-md-12 g-3">
        
        
        <div class="col">
          
          <div class="card1 ">
            <div class="card-body d-felx flex-column justify-content-end te">
              <h3><u><strong>About</strong></u></h3>
              <p>I’m <strong><u>Maaz Siddiqui</u></strong>, a <b><em>Computer Engineering student</em></b> with a strong
                foundation in <b>programming,
                  problem-solving</b>, and modern technologies. I value the principles of <b>clean code</b>, structured
                development,
                and continuous learning. My work blends <u>traditional engineering discipline</u> with <b>innovative
                  thinking</b>,
                focusing on <u>practical solutions</u> and <u>real-world applications</u>.</p>

              <p>
                From developing <b>full-stack web applications</b> to exploring <b>AI</b> and <b>automation</b>, I aim
                to build systems that
                are efficient, scalable, and user-friendly. I’ve worked on various <b>academic</b> and <b>personal
                  projects</b>,
                demonstrating my ability to apply core concepts across languages like <b>Python</b>,<b> C++</b>, and
                <b>Java</b>, as well as
                tools like <b>Flask, Selenium, and Figma</b>.
              </p>

              <p>Driven by <u>curiosity</u> and guided by <b>discipline</b>, I’m constantly refining my skills to stay prepared for
                the demands of the evolving tech landscape. Whether it's <b><u>writing backend logic, designing intuitive UIs,</u></b>
                or <u><i>optimizing code performance</i></u> — <b><u><i>I strive to deliver work that is thoughtful, well-structured, and
                impactful</i></u></b>.</p>

                <h3><u><strong>Education</strong></u></h3>

                <ul>
          <li type="none">
            <p class="col-12 col-lg-12 col-xl-8">
              <strong>→ Diploma in Computer Engineering (Post SSC)</strong><br>
              <em>M.H. Saboo Siddik Polytechnic, Mumbai</em><br>
              <span>Sept 2023 – Sept 2026</span>
            </p>
            <ul>
              <li><strong><u>Results Summary</u></strong>
                <ul>
                  <li><strong>FY:</strong> 82.6%</li>
                  <li><strong>SY:</strong> 83%</li>
                  <li><strong>TY:</strong> -</li>
                </ul>
              </li>
            </ul>
            <p class="col-12 col-lg-12 col-xl-8">
              <strong>→ Secondary School Certificate (SSC)</strong><br>
              <em>St. Stanislaus High School, Bandra</em><br>
              <span>Apr 2013 – Apr 2023</span><br>
              <strong>Grades:</strong> 83%
            </p><br>
          </li>
        </ul>

        <h3><u><strong>Certifications &amp; Achievements</strong></u></h3>

        <ul type="none">
          <li>
            <strong style="border-left: rgb(150, 148, 148) 2px solid; padding-left:5px; font-size:large">
              100 Day of Python (udemy)
            </strong><br>
          </li>
          <li>
            <strong style="border-left: rgb(150, 148, 148) 2px solid; padding-left:5px; font-size:large">
              Fundamentals of Python Programming (infosys)
            </strong><br>
          </li>
          <li>
            <strong style="border-left: rgb(150, 148, 148) 2px solid; padding-left:5px; font-size:large">
              Java Concepts (infosys)
            </strong><br>
          </li>
        </ul>


            </div>

          </div>

          </a>
        </div>




      </div>
    </div>
  </div>
</main>
</div>