<main
  style="
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
      sans-serif;
  "
>
  <div
    class="album py-2 bg-body-tertiary w-100 border border-secondary rounded-3 mx-auto"
  >
    <div class="container">
      <p class="fs-1 fw-bold">Backend:</p>

      <table style="border-collapse: separate; border-spacing: 10px 10px;">
        <tr>
          <td>● Automation</td>
          <td>● Web Scraping</td>
          <td>● Java</td>
        </tr>
        <tr>
          <td>● Selenium</td>
          <td>● Beautiful Soup</td>
          <td>● SQLite</td>
        </tr>
        <tr>
          <td>● SQL Alchemy</td>
          <td>● JSON</td>
          <td>● Python</td>
        </tr>
        <tr>
          <td>● Pandas</td>
          <td>● Flask</td>
          <td>● Django</td>
        </tr>
        <tr>
          <td>● JSON</td>
          <td>● Python</td>
          <td>● Pandas</td>
        </tr>
      </table>
    </div>
  </div>
</main>
