{% extends 'base.html' %} {% block title %}Maaz | Portfolio{% endblock %} 
{% block body %}
<!-- First Look -->

<div class="container  px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
    <div class="col-12 col-sm-12 col-lg-6">
      <img
        src="../static/my_img.jpg"
        class="d-block mx-lg-auto  my-img"
        alt="My Image"
        loading="lazy"
      />
    </div>
    <div class="col-lg-6">
      <h1 class="display-2  text-body-emphasis lh-1 mb-3">
        <span class="fw-bold" style="color: rgba(13, 110, 253, 0.9); font-family: 'Cambria'"
          >@</span
        ><b>the-maaz</b>
      </h1>
      <h2 class="display-5  text-body-emphasis lh-1 mb-3">
        Python Full Stack Developer
      </h2>

      <p class="lead">
        A passionate Python developer and final-year diploma student
        specializing in full-stack development, automation, with a strong
        foundation in computer engineering.
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        
        <a
              class="btn btn-outline-dark btn-lg px-4"
              href="https://drive.google.com/file/d/12QjslxE5O1K-yP-KNqAwv-dUOELkO0jp/view?usp=sharing"
              target="_blank"
              >
              Resume
            </a>
            <a
              class="btn btn-dark btn-lg px-4"
              href="https://github.com/maazsiddiqui79"
              target="_blank"
            >
              Git
            </a>
          </div>
    </div>
  </div>
</div>

<!-- End First Look -->

<!-- Skills  -->
 <hr>
 <div id="skills">{% include 'skills.html' %}</div>
 <!-- End Skils -->
 
 <!-- Projects  -->
 <hr>
 <div id="projects">{% include 'projects.html' %}</div>
 
 <!-- End Projects -->
 
 <!-- About  -->
 <hr>
 <div id="about">{% include 'about.html' %}</div>
 
 <!-- End Projects -->
 
 
 
 <!-- Stats -->
 <section class="container col-xl-8">
  <div class="row py-lg-5">
    <div class="container col-xl-8 mt-5"
    style="border-left: 2px black solid;margin:1rem;height:100px;padding-left: 30px;">
    <h3 class="display-5 fw-bolder text-body-emphasis lh-1 mb-3" style="font-family: 'Cambria'">
        Track
      </h3>
      <p class="lead text-body-secondary">Work in Figures</p>
    </div>
  </div>
<div class="container py-4">
  <div class="row justify-content-center text-center">
    
    <div class="container ">
  <div class="row text-center ">
    <div class="stats-hover col-12 col-md-4 bg-light border border-dark shadow-lg p-4">
      project built
      <hr>
      +75
    </div>
    <div class="stats-hover col-12 col-md-4 bg-light border border-dark shadow-lg p-4">
      deployed
      <hr>
      +6</div>
    <div class="stats-hover col-12 col-md-4 bg-light border border-dark shadow-lg p-4">
      gui application
      <hr>
      +7</div>
    
</div>

  </div>
</div>

<br><br><br><br><br>

<!-- End Stats -->

<!-- Connect  -->
<hr>
<div id="connect">{% include 'connect.html' %}</div>


<!-- End Connect -->
{% endblock %}
