<!-- Heading -->
<main>
  <section class="container col-xl-8">
    <div class="row">
      <div
        class="container col-xl-8 mt-5"
        style="
          border-left: 2px black solid;
          margin: 1rem;
          height: 150px;
          padding-left: 30px;
        "
      >
        <h3
          class="display-5 fw-bolder fw-bolder text-body-emphasis lh-1 mb-3"
          style="font-family: 'Cambria'"
        >
          SKILLS
        </h3>
        <p class="lead text-body-secondary">
          Tools and skills I’ve focused on in the last 1.5 years
        </p>
      </div>
    </div>
  </section>
</main>

<!-- content -->

 <div class="container col-xxl-8 px-4">
  <div class="row flex-lg-row-reverse align-items-center g-5 ">
    <div class="col-12 col-sm-12 col-lg-5" >
      
        {% include 'backend.html' %}
        
    </div>
    <div class="col-lg-5">

        {% include 'frontend.html' %}
        <br>
        {% include 'others.html' %}
    </div>
</div>
